/* This will include Tailwind CSS base styles */
@tailwind base;

/* This will include Tailwind CSS components styles */
@tailwind components;

/* This will include Tailwind CSS utilities */
@tailwind utilities;

/* Custom CSS styles */
body {
    background-color: #3d3d3d;
}
